{% extends 'base.html' %}

{% block title %} RENEW | Contacts {% endblock%}

{% block content %}
<address>
    <h1 class="h3 mb-2 text-gray-800"> Контакти </h1>
Институт по информационни и комуникационни технологии – БАН<br>
Координатор на проекта: доц. д-р Денис Чикуртев, <a href="mailto:denis.chikurtev@iict.bas.bg" onclick="window.open(this.href, 'emailPopup', 'width=500,height=400'); return false;">denis.chikurtev@iict.bas.bg</a></br>
Посетете ни на: Блок 2, БАН IV км., ул. „Акад. Георги Бончев“ 2, 1113 София<br>
Сайт на проекта: <a href="https://www.iict.bas.bg/projects/2025/RENEW/index.html" target="_blank">RENEW</a><br>
</address>
{% endblock%}