# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# macOS
.DS_Store

# Environment variables
.env

# Docker files (if you don't want to commit them)
# docker-compose.override.yml

# Coverage reports
htmlcov/
.coverage

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/