{% extends 'base.html' %}

{% block title %} Profile {% endblock%}

{% block content %}
<h1> {{ user.get_full_name }} (@{{user.username }}) </h1>

    {% with profile=user.profile %}
        {% if profile %}
            <h2> {{ profile.position|default:"" }} </h2>
            <div> {{ profile.bio|default:"" }} </div>
            <div> {% with website=profile.website|default:"" %} 
                <a href="{{website}}">{{ website }}</a>
                {% endwith %}
            </div> </br>
        {% endif %}
    {% endwith %}

{% endblock%}